Repository mem0ai/mem0, pull requests merged in 2023-08, with the labels that each got.

#383 fix: is readable - zero division error
  embedchain/utils.py
Labels: easy

#325 test: added chunker unit tests
  tests/chunkers/test_text.py
Labels: easy

#310 feat: collection name everywhere
  docs/advanced/configuration.mdx
  docs/advanced/query_configuration.mdx
  embedchain/config/apps/AppConfig.py
  embedchain/config/apps/BaseAppConfig.py
  embedchain/config/apps/CustomAppConfig.py
  embedchain/config/apps/OpenSourceAppConfig.py
  embedchain/embedchain.py
  embedchain/vectordb/base_vector_db.py
  embedchain/vectordb/chroma_db.py
  tests/vectordb/test_chroma_db.py
Labels: enhancement

#405 feat: notion loader
  docs/advanced/data_types.mdx
  docs/advanced/query_configuration.mdx
  embedchain/chunkers/notion.py
  embedchain/data_formatter/data_formatter.py
  embedchain/loaders/notion.py
  pyproject.toml
  setup.py
Labels: enhancement, new-data-source
