Repository mem0ai/mem0, pull requests merged in 2023-07, with the labels that each got.

#177 [Feat] Add config based template to query function
  README.md
  embedchain/config/QueryConfig.py
  embedchain/embedchain.py
Labels: enhancement

#207 feat: add method - only count new chunks and print them
  embedchain/embedchain.py
Labels: enhancement

#204 feat: History API (client)
  README.md
  embedchain/config/ChatConfig.py
  embedchain/config/QueryConfig.py
  embedchain/embedchain.py
Labels: enhancement

#208 Setup black and ruff for linting and formatting code
  Makefile
  README.md
  embedchain/__init__.py
  embedchain/chunkers/base_chunker.py
  embedchain/chunkers/docx_file.py
  embedchain/chunkers/pdf_file.py
  embedchain/chunkers/qna_pair.py
  embedchain/chunkers/text.py
  embedchain/chunkers/web_page.py
  embedchain/chunkers/youtube_video.py
  embedchain/config/AddConfig.py
  embedchain/config/BaseConfig.py
  embedchain/config/ChatConfig.py
  embedchain/config/InitConfig.py
  embedchain/config/QueryConfig.py
  embedchain/config/__init__.py
  embedchain/data_formatter/__init__.py
  embedchain/data_formatter/data_formatter.py
  embedchain/embedchain.py
  embedchain/loaders/docx_file.py
  embedchain/loaders/local_qna_pair.py
  embedchain/loaders/local_text.py
  embedchain/loaders/pdf_file.py
  embedchain/loaders/web_page.py
  embedchain/loaders/youtube_video.py
  embedchain/utils.py
  embedchain/vectordb/base_vector_db.py
  embedchain/vectordb/chroma_db.py
  pyproject.toml
  requirements/dev.txt
  setup.py
  tests/test_embedchain.py
Labels: documentation, enhancement

#215 feat: openai config
  README.md
  embedchain/config/ChatConfig.py
  embedchain/config/QueryConfig.py
  embedchain/embedchain.py
Labels: enhancement, good first issue

#189 feat: Adding app id in metadata while reading and writing to vector db
  embedchain/config/InitConfig.py
  embedchain/embedchain.py
  setup.py
Labels: enhancement

#273 feat: webpage - exclude by class and id, add logging
  embedchain/loaders/web_page.py
Labels: enhancement

#313 Feat/custom app
  docs/advanced/adding_data.mdx
  docs/advanced/app_types.mdx
  docs/advanced/configuration.mdx
  docs/advanced/interface_types.mdx
  docs/advanced/query_configuration.mdx
  docs/advanced/testing.mdx
  docs/mint.json
  docs/quickstart.mdx
  embedchain/__init__.py
  embedchain/apps/App.py
  embedchain/apps/CustomApp.py
  embedchain/apps/OpenSourceApp.py
  embedchain/apps/PersonApp.py
  embedchain/config/QueryConfig.py
  embedchain/config/apps/AppConfig.py
  embedchain/config/apps/BaseAppConfig.py
  embedchain/config/apps/CustomAppConfig.py
  embedchain/config/apps/OpenSourceAppConfig.py
  embedchain/embedchain.py
  embedchain/models/EmbeddingFunctions.py
  embedchain/models/Providers.py
  embedchain/models/__init__.py
  embedchain/vectordb/chroma_db.py
  tests/vectordb/test_chroma_db.py
Labels: enhancement

#315 fix: add isort dev dependency
  pyproject.toml
Labels: bug

#304 feat: filter sitemap
  docs/advanced/data_types.mdx
  embedchain/loaders/sitemap.py
  embedchain/utils.py
Labels: enhancement

#364 docs: fix template
  docs/advanced/configuration.mdx
Labels: easy

#368 fix for personapp not working with config
  embedchain/apps/PersonApp.py
Labels: easy

#369 add "d" on "Embedchain" in citation section title
  README.md
Labels: easy

#365 docs: add back query config
  docs/advanced/query_configuration.mdx
Labels: documentation, easy

#324 refactor: loader chunker typing
  embedchain/embedchain.py
  embedchain/loaders/base_loader.py
  embedchain/loaders/docs_site_loader.py
  embedchain/loaders/docx_file.py
  embedchain/loaders/local_qna_pair.py
  embedchain/loaders/local_text.py
  embedchain/loaders/pdf_file.py
  embedchain/loaders/sitemap.py
  embedchain/loaders/web_page.py
  embedchain/loaders/youtube_video.py
Labels: easy

#374 docs: fix argument out of order
  embedchain/config/apps/AppConfig.py
Labels: documentation
