Repository mem0ai/mem0, pull requests merged in 2023-12, with the labels that each got.

#1048 Update poetry.lock file
  poetry.lock
  pyproject.toml
Labels: size:XS

#1049 [App Deployment] create chat with PDF app
  docs/examples/chat-with-PDF.mdx
  docs/mint.json
  embedchain/llm/ollama.py
  examples/chat-pdf/.streamlit/secrets.toml
  examples/chat-pdf/README.md
  examples/chat-pdf/app.py
  examples/chat-pdf/embedchain.json
  examples/chat-pdf/requirements.txt
  tests/llm/test_ollama.py
Labels: size:L, lgtm

#954 Add local file path support to SitemapLoader
  embedchain/loaders/sitemap.py
Labels: size:S

#1051 [Bugfix] fix chat PDF dependencies
  examples/chat-pdf/requirements.txt
Labels: size:XS

#1052 Provide openai-key support from config
  .devcontainer/devcontainer.json
  docs/api-reference/advanced/configuration.mdx
  embedchain/config/embedder/base.py
  embedchain/config/llm/base.py
  embedchain/embedder/openai.py
  embedchain/llm/openai.py
  embedchain/utils.py
  pyproject.toml
  tests/llm/test_openai.py
Labels: size:M, lgtm

#1053 [Chat PDF] update chat pdf logic
  examples/chat-pdf/app.py
Labels: size:M

#1054 [Update] update readme
  README.md
  examples/chat-pdf/README.md
Labels: size:XS, lgtm

#1056 [Bug Fix] Fix `FileExistsError` when using Embedchain in multithreading setting
  embedchain/cli.py
  embedchain/client.py
  embedchain/telemetry/posthog.py
  pyproject.toml
Labels: size:S

#1058 Added Support for Together AI API
  configs/together.yaml
  docs/components/data-sources/docs-site.mdx
  docs/components/llms.mdx
  docs/examples/notebooks-and-replits.mdx
  docs/examples/rest-api/create.mdx
  embedchain/factory.py
  embedchain/llm/together.py
  embedchain/utils.py
  examples/rest-api/requirements.txt
  examples/rest-api/utils.py
  notebooks/together.ipynb
  poetry.lock
  pyproject.toml
  tests/llm/test_together.py
  tests/test_utils.py
Labels: size:L

#1061 Add cards for gradio and hf
  docs/get-started/deployment.mdx
  docs/mint.json
Labels: size:S

#1067 docs: Update framework desc & link
  docs/contribution/dev.mdx
Labels: size:XS

#1068 Fix link in github issue bug template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: size:XS

#1072 [Docs] add docs for youtube channel
  docs/components/data-sources/overview.mdx
  docs/components/data-sources/youtube-channel.mdx
  docs/components/data-sources/youtube-video.mdx
  embedchain/embedchain.py
  embedchain/loaders/directory_loader.py
  embedchain/utils.py
Labels: size:M

#1059 [Improvement] return all the metadata when citations flag is `True`
  docs/api-reference/pipeline/chat.mdx
  docs/api-reference/pipeline/query.mdx
  docs/api-reference/pipeline/search.mdx
  docs/use-cases/semantic-search.mdx
  embedchain/pipeline.py
  embedchain/vectordb/chroma.py
  embedchain/vectordb/elasticsearch.py
  embedchain/vectordb/opensearch.py
  embedchain/vectordb/pinecone.py
  embedchain/vectordb/qdrant.py
  embedchain/vectordb/weaviate.py
  embedchain/vectordb/zilliz.py
  tests/vectordb/test_chroma_db.py
  tests/vectordb/test_elasticsearch_db.py
  tests/vectordb/test_zilliz_db.py
Labels: size:L

#1060 [Feature] Return score when doing search in vectorDB
  embedchain/embedchain.py
  embedchain/vectordb/chroma.py
  embedchain/vectordb/elasticsearch.py
  embedchain/vectordb/opensearch.py
  embedchain/vectordb/pinecone.py
  embedchain/vectordb/qdrant.py
  embedchain/vectordb/weaviate.py
  embedchain/vectordb/zilliz.py
  pyproject.toml
  tests/vectordb/test_chroma_db.py
  tests/vectordb/test_elasticsearch_db.py
  tests/vectordb/test_zilliz_db.py
Labels: size:L

#1074 Update version to 0.1.46
  pyproject.toml
Labels: size:XS

#1075 Update notebooks to use dict instead of yaml and remove dataloaders
  embedchain/pipeline.py
  notebooks/anthropic.ipynb
  notebooks/azure-openai.ipynb
  notebooks/chromadb.ipynb
  notebooks/cohere.ipynb
  notebooks/elasticsearch.ipynb
  notebooks/gpt4all.ipynb
  notebooks/hugging_face_hub.ipynb
  notebooks/jina.ipynb
  notebooks/llama2.ipynb
  notebooks/ollama.ipynb
  notebooks/openai.ipynb
  notebooks/opensearch.ipynb
  notebooks/pinecone.ipynb
  notebooks/together.ipynb
  notebooks/vertex_ai.ipynb
Labels: size:XL

#1073 [new] dropbox loader
  docs/components/data-sources/dropbox.mdx
  docs/components/data-sources/overview.mdx
  docs/mint.json
  embedchain/data_formatter/data_formatter.py
  embedchain/loaders/dropbox.py
  embedchain/models/data_type.py
  poetry.lock
  pyproject.toml
  tests/loaders/test_dropbox.py
Labels: size:L

#1077 Update version to 0.1.47
  pyproject.toml
Labels: size:XS

#1079 [Improvements] update docs
  docs/api-reference/pipeline/chat.mdx
  docs/api-reference/pipeline/query.mdx
  docs/components/data-sources/pdf-file.mdx
Labels: size:M

#1065 [Feature] Add support for GPTCache
  .gitignore
  embedchain/app.py
  embedchain/cache.py
  embedchain/config/__init__.py
  embedchain/config/cache_config.py
  embedchain/embedchain.py
  embedchain/embedder/base.py
  embedchain/utils.py
  poetry.lock
  pyproject.toml
Labels: size:L

#1082 Update dark mode logo
  docs/logo/dark.svg
Labels: size:XS

#1083 Fix light mode logo
  docs/logo/light.svg
Labels: size:XS

#1087 Update links, code and description
  README.md
Labels: size:S

#1084 [Bug Fix] Handle chat sessions properly during `app.chat()` calls
  embedchain/embedchain.py
  embedchain/llm/base.py
  embedchain/memory/base.py
  embedchain/memory/message.py
  poetry.lock
  pyproject.toml
  tests/embedchain/test_embedchain.py
  tests/llm/test_chat.py
  tests/memory/test_chat_memory.py
  tests/memory/test_memory_messages.py
Labels: size:L

#1088 [Bugfix] fix config validation for google llm config
  embedchain/embedchain.py
  embedchain/utils.py
Labels: size:S

#1062 Update dependencies and loaders
  embedchain/loaders/gmail.py
  embedchain/loaders/json.py
  embedchain/loaders/notion.py
  poetry.lock
  pyproject.toml
  tests/loaders/test_gmail.py
  tests/loaders/test_json.py
  tests/loaders/test_notion.py
Labels: size:L

#1092 [BugFix] search method in app
  embedchain/app.py
  pyproject.toml
Labels: size:S
