Repository mem0ai/mem0, pull requests merged in 2024-02, with the labels that each got.

#1233 Update URL Validation Regex to Support IP Addresses and Port Numbers
  embedchain/loaders/json.py
Labels: size:XS

#1240 Update docs
  README.md
  docs/api-reference/app/deploy.mdx
  docs/deployment/embedchain_ai.mdx
  docs/platform/faq.mdx
  docs/platform/overview.mdx
  docs/platform/quickstart.mdx
  docs/platform/roadmap.mdx
  docs/platform/security.mdx
  embedchain/app.py
Labels: size:M

#1242 [Bug Fix] Fix issue related to using embedding model from huggingface
  embedchain/factory.py
  pyproject.toml
Labels: size:XS

#1237 [Bug Fix] Add support for `AWS_REGION` override
  docs/components/llms.mdx
  embedchain/llm/aws_bedrock.py
Labels: size:XS, lgtm

#1245 [Feature] Add support for metadata filtering on search API
  docs/api-reference/app/search.mdx
  docs/components/vector-databases.mdx
  embedchain/app.py
  embedchain/config/vectordb/pinecone.py
  embedchain/embedchain.py
  embedchain/loaders/json.py
  embedchain/vectordb/chroma.py
  embedchain/vectordb/pinecone.py
  pyproject.toml
  tests/vectordb/test_pinecone.py
Labels: size:L

#1246 [Refactor] Remove usage of 'Pipeline' in favor of 'App'
  README.md
  docs/components/data-sources/dropbox.mdx
  docs/components/data-sources/google-drive.mdx
  embedchain/deployment/fly.io/app.py
  embedchain/deployment/modal.com/app.py
  embedchain/deployment/render.com/app.py
  pyproject.toml
Labels: size:S

#1249 [Feature] Add support for optionally fetch all chat history for app
  embedchain/embedchain.py
  pyproject.toml
Labels: size:S

#1252 Typo fixed in youtube-channel.mdx
  docs/components/data-sources/youtube-channel.mdx
Labels: size:XS

#1253 Typo fixed youtube-video.mdx
  docs/components/data-sources/youtube-video.mdx
Labels: size:XS, lgtm

#1238 Fixes to null data results and openAI embedding limits
  embedchain/embedchain.py
  embedchain/vectordb/weaviate.py
Labels: size:M

#1250 [Docs] Added documentation to deploy to Railway.app
  docs/deployment/railway.mdx
  docs/get-started/deployment.mdx
  docs/mint.json
Labels: size:M, lgtm

#1254 [Bug fix] Fix history sequence in prompt
  embedchain/config/llm/base.py
  embedchain/llm/base.py
  embedchain/llm/openai.py
  embedchain/memory/base.py
  pyproject.toml
Labels: size:M

#1255 [Bug fix] Fix test
  tests/llm/test_generate_prompt.py
Labels: size:XS

#1224 [Feature] OpenAI Function Calling
  docs/components/llms.mdx
  embedchain/embedder/huggingface.py
  embedchain/embedder/openai.py
  embedchain/embedder/vertexai.py
  embedchain/llm/anthropic.py
  embedchain/llm/aws_bedrock.py
  embedchain/llm/azure_openai.py
  embedchain/llm/cohere.py
  embedchain/llm/gpt4all.py
  embedchain/llm/huggingface.py
  embedchain/llm/jina.py
  embedchain/llm/llama2.py
  embedchain/llm/ollama.py
  embedchain/llm/openai.py
  embedchain/llm/together.py
  embedchain/llm/vertex_ai.py
  embedchain/loaders/docx_file.py
  embedchain/loaders/google_drive.py
  embedchain/loaders/pdf_file.py
  embedchain/loaders/rss_feed.py
  embedchain/loaders/unstructured_file.py
  embedchain/loaders/xml.py
  embedchain/loaders/youtube_video.py
  embedchain/vectordb/opensearch.py
  poetry.lock
  pyproject.toml
  tests/llm/test_anthrophic.py
  tests/llm/test_azure_openai.py
  tests/llm/test_gpt4all.py
  tests/llm/test_openai.py
  tests/llm/test_vertex_ai.py
Labels: size:L, lgtm

#1256 Update version to 0.1.78
  pyproject.toml
Labels: size:XS

#1257 [Bug fix] Fix vertex ai integration issue
  embedchain/embedchain.py
  embedchain/llm/base.py
  embedchain/llm/openai.py
  embedchain/llm/vertex_ai.py
  poetry.lock
  pyproject.toml
  tests/llm/test_vertex_ai.py
Labels: size:M

#1259 [Feature] Add support for hybrid search for pinecone vector database
  docs/_snippets/missing-vector-db-tip.mdx
  docs/components/data-sources/google-drive.mdx
  docs/components/data-sources/overview.mdx
  docs/components/vector-databases.mdx
  docs/components/vector-databases/chromadb.mdx
  docs/components/vector-databases/elasticsearch.mdx
  docs/components/vector-databases/opensearch.mdx
  docs/components/vector-databases/pinecone.mdx
  docs/components/vector-databases/qdrant.mdx
  docs/components/vector-databases/weaviate.mdx
  docs/components/vector-databases/zilliz.mdx
  docs/deployment/embedchain_ai.mdx
  docs/mint.json
  embedchain/config/vectordb/pinecone.py
  embedchain/embedchain.py
  embedchain/vectordb/pinecone.py
  poetry.lock
  pyproject.toml
Labels: size:XL

#1258 ⚡️ Speed up `is_readable by` 101% in `embedchain/utils/misc.py`
  embedchain/utils/misc.py
Labels: size:S, lgtm

#1272 [Improvements] Improve the default prompt and data loader util functions
  embedchain/config/llm/base.py
  embedchain/loaders/discord.py
  embedchain/loaders/discourse.py
  embedchain/loaders/docx_file.py
  embedchain/loaders/local_qna_pair.py
  embedchain/loaders/local_text.py
  embedchain/loaders/mdx.py
  embedchain/loaders/openapi.py
  embedchain/loaders/pdf_file.py
  embedchain/loaders/rss_feed.py
  embedchain/loaders/slack.py
  embedchain/loaders/text_file.py
  embedchain/loaders/unstructured_file.py
  embedchain/loaders/web_page.py
  embedchain/loaders/xml.py
  embedchain/loaders/youtube_video.py
  embedchain/utils/misc.py
  pyproject.toml
  tests/llm/test_chat.py
Labels: size:L

#1278 Updating python version to including <=3.13
  pyproject.toml
Labels: size:XS

#1279 [Feature] Add support for python 3.13 and other migration related fixes
  .github/workflows/ci.yml
  Makefile
  docs/components/vector-databases/pinecone.mdx
  embedchain/alembic.ini
  embedchain/vectordb/pinecone.py
  notebooks/pinecone.ipynb
  poetry.lock
  pyproject.toml
Labels: size:M

#1276 Add support for supplying custom db params
  docs/components/introduction.mdx
  embedchain/app.py
  embedchain/client.py
  embedchain/config/base_app_config.py
  embedchain/constants.py
  embedchain/core/db/database.py
  embedchain/embedchain.py
  embedchain/migrations/env.py
  embedchain/utils/misc.py
  pyproject.toml
  tests/telemetry/test_posthog.py
  tests/vectordb/test_chroma_db.py
Labels: size:M

#1282 [Bug fix] Fix issue for using any metadata db apart from sqlite
  embedchain/core/db/database.py
  pyproject.toml
Labels: size:XS

#1284 [Feature] Add support for Groq LLMs
  docs/components/llms.mdx
  embedchain/factory.py
  embedchain/llm/groq.py
  embedchain/llm/openai.py
  embedchain/utils/misc.py
  pyproject.toml
Labels: size:L

#1286 [Feature/Improvements] Delete data sources from metadata db when using `app.delete()`
  embedchain/config/vectordb/pinecone.py
  embedchain/embedchain.py
  embedchain/vectordb/pinecone.py
  pyproject.toml
Labels: size:S

#1287 [Feature] Add support for running huggingface models locally
  docs/components/llms.mdx
  embedchain/config/llm/base.py
  embedchain/llm/huggingface.py
  embedchain/utils/misc.py
  tests/llm/test_huggingface.py
Labels: size:L

#1288 [Improvement] Fix deprecation warnings
  embedchain/helpers/callbacks.py
  embedchain/llm/aws_bedrock.py
  embedchain/llm/cohere.py
  embedchain/llm/llama2.py
  embedchain/llm/ollama.py
  embedchain/llm/together.py
  embedchain/llm/vllm.py
  pyproject.toml
  tests/llm/test_cohere.py
  tests/llm/test_llama2.py
  tests/llm/test_ollama.py
  tests/llm/test_together.py
Labels: size:M

#1289 [Docs] Update docs for resetting vector database
  docs/components/data-sources/data-type-handling.mdx
Labels: size:S
