Repository mem0ai/mem0, pull requests merged in 2024-01, with the labels that each got.

#1095 fix: typo when import helpers.json_serializable on rss_feed files
  embedchain/chunkers/rss_feed.py
  embedchain/loaders/rss_feed.py
Labels: size:XS

#1093 [Docs] update search docs
  docs/api-reference/pipeline/search.mdx
Labels: size:S

#1096 Improve docs.
  docs/components/introduction.mdx
  docs/get-started/quickstart.mdx
  docs/logo/dark-rt.svg
  docs/logo/light-rt.svg
  docs/mint.json
  docs/use-cases/chatbots.mdx
  docs/use-cases/introduction.mdx
  docs/use-cases/question-answering.mdx
  docs/use-cases/semantic-search.mdx
Labels: size:L

#1097 Update docs and side navbar.
  docs/components/data-sources/directory.mdx
  docs/components/data-sources/docs-site.mdx
  docs/components/data-sources/overview.mdx
  docs/components/data-sources/web-page.mdx
  docs/components/data-sources/youtube-video.mdx
  docs/mint.json
Labels: size:M

#1089 Add GPT4Vision Image loader
  docs/components/data-sources/image.mdx
  docs/components/data-sources/overview.mdx
  docs/mint.json
  embedchain/app.py
  embedchain/chunkers/image.py
  embedchain/chunkers/images.py
  embedchain/data_formatter/data_formatter.py
  embedchain/embedchain.py
  embedchain/loaders/image.py
  embedchain/loaders/images.py
  embedchain/models/clip_processor.py
  embedchain/models/data_type.py
  embedchain/vectordb/chroma.py
  embedchain/vectordb/elasticsearch.py
  embedchain/vectordb/opensearch.py
  embedchain/vectordb/pinecone.py
  embedchain/vectordb/qdrant.py
  embedchain/vectordb/weaviate.py
  embedchain/vectordb/zilliz.py
  poetry.lock
  pyproject.toml
  tests/chunkers/test_image_chunker.py
  tests/models/test_clip_processor.py
  tests/vectordb/test_chroma_db.py
  tests/vectordb/test_elasticsearch_db.py
  tests/vectordb/test_pinecone.py
  tests/vectordb/test_qdrant.py
  tests/vectordb/test_weaviate.py
  tests/vectordb/test_zilliz_db.py
Labels: size:XL

#1098 [Updates] Update GPTCache configuration/docs
  docs/api-reference/advanced/configuration.mdx
  embedchain/app.py
  embedchain/cache.py
  embedchain/config/cache_config.py
  embedchain/llm/openai.py
  embedchain/utils.py
Labels: size:L

#1099 feat: Make gpt4all work offline.
  embedchain/llm/gpt4all.py
Labels: size:XS

#1100 Bump version to 0.1.51
  pyproject.toml
Labels: size:XS

#1101 feat: Add private ai example
  examples/private-ai/README.md
  examples/private-ai/config.yaml
  examples/private-ai/privateai.py
  examples/private-ai/requirements.txt
Labels: size:M

#1105 Update docs for session_id
  docs/api-reference/pipeline/chat.mdx
Labels: size:S

#1108 [Bugfix] fix chat pdf streamlit example
  examples/chat-pdf/.streamlit/secrets.toml
  examples/chat-pdf/app.py
  examples/private-ai/privateai.py
Labels: size:XS

#1110 Fix top_p value bug in quickstart example in docs
  docs/get-started/quickstart.mdx
Labels: size:XS

#1112 Add support for `ec runserver` command
  docs/get-started/full-stack.mdx
  docs/images/fullstack-chunks.png
  docs/images/fullstack.png
  docs/mint.json
  embedchain/cli.py
  pyproject.toml
Labels: size:L

#1115 Update full-stack.mdx
  docs/get-started/full-stack.mdx
Labels: size:XS, lgtm

#1106 [Feature] Google Drive Folder support as a data source
  docs/components/data-sources/google-drive.mdx
  embedchain/chunkers/google_drive.py
  embedchain/data_formatter/data_formatter.py
  embedchain/loaders/google_drive.py
  embedchain/models/data_type.py
  embedchain/utils.py
  poetry.lock
  pyproject.toml
  tests/chunkers/test_chunkers.py
  tests/loaders/test_google_drive.py
Labels: size:L, lgtm

#1116 #710 | Remove unused and deprecated app.count method
  embedchain/embedchain.py
Labels: size:S, lgtm

#1117 [Misc] Minor fixes and refactor utils code
  embedchain/app.py
  embedchain/cli.py
  embedchain/embedchain.py
  embedchain/embedder/base.py
  embedchain/loaders/beehiiv.py
  embedchain/loaders/directory_loader.py
  embedchain/loaders/discourse.py
  embedchain/loaders/github.py
  embedchain/loaders/gmail.py
  embedchain/loaders/google_drive.py
  embedchain/loaders/json.py
  embedchain/loaders/mysql.py
  embedchain/loaders/notion.py
  embedchain/loaders/pdf_file.py
  embedchain/loaders/slack.py
  embedchain/loaders/substack.py
  embedchain/loaders/unstructured_file.py
  embedchain/loaders/web_page.py
  embedchain/loaders/xml.py
  embedchain/loaders/youtube_video.py
  embedchain/store/assistants.py
  embedchain/utils/__init__.py
  embedchain/utils/misc.py
  embedchain/vectordb/chroma.py
  embedchain/vectordb/elasticsearch.py
  embedchain/vectordb/pinecone.py
  pyproject.toml
  tests/embedchain/test_utils.py
  tests/test_utils.py
Labels: size:M

#1118 [Feature] Update commands to run full stack app
  docs/get-started/full-stack.mdx
  embedchain/cli.py
  embedchain/utils/cli.py
  pyproject.toml
Labels: size:XL

#1111 [Example] add example for nextjs app and discord/slack bots
  docs/examples/nextjs-assistant.mdx
  docs/mint.json
  examples/nextjs/README.md
  examples/nextjs/ec_app/.dockerignore
  examples/nextjs/ec_app/.env.example
  examples/nextjs/ec_app/Dockerfile
  examples/nextjs/ec_app/app.py
  examples/nextjs/ec_app/embedchain.json
  examples/nextjs/ec_app/fly.toml
  examples/nextjs/ec_app/requirements.txt
  examples/nextjs/nextjs_discord/.dockerignore
  examples/nextjs/nextjs_discord/.env.example
  examples/nextjs/nextjs_discord/Dockerfile
  examples/nextjs/nextjs_discord/app.py
  examples/nextjs/nextjs_discord/embedchain.json
  examples/nextjs/nextjs_discord/fly.toml
  examples/nextjs/nextjs_discord/requirements.txt
  examples/nextjs/nextjs_slack/.dockerignore
  examples/nextjs/nextjs_slack/.env.example
  examples/nextjs/nextjs_slack/Dockerfile
  examples/nextjs/nextjs_slack/app.py
  examples/nextjs/nextjs_slack/embedchain.json
  examples/nextjs/nextjs_slack/fly.toml
  examples/nextjs/nextjs_slack/requirements.txt
  examples/nextjs/requirements.txt
Labels: size:XL, lgtm

#1123 [Bugfix] fix sadhguru example sources return logic
  embedchain/embedchain.py
  examples/sadhguru-ai/app.py
Labels: size:S, lgtm

#1125 [Bug fix] quickfix custom configuration doc
  docs/api-reference/advanced/configuration.mdx
  embedchain/cli.py
Labels: size:XS

#1127 [Improvement] fix slack loader max_count
  embedchain/loaders/slack.py
  pyproject.toml
Labels: size:S, lgtm

#1135 [BugFixes] slack loader
  embedchain/loaders/slack.py
Labels: size:S

#1134 [Feature] Add support for docker in fullstack app
  docs/get-started/full-stack.mdx
  embedchain/cli.py
Labels: size:M

#1137 Update package version to 0.1.56
  pyproject.toml
Labels: size:XS

#1140 README.md: Fix typo
  embedchain-js/README.md
Labels: size:XS, lgtm

#1122 Fix two security issues
  embedchain/loaders/json.py
  embedchain/loaders/openapi.py
Labels: size:XS, lgtm

#1141 Update documentation based on user feedback
  docs/components/data-sources/csv.mdx
  docs/components/data-sources/pdf-file.mdx
  docs/get-started/quickstart.mdx
Labels: size:M

#1142 [Docs] add slack ai in docs under examples tab
  docs/examples/slack-AI.mdx
  docs/images/slack-ai.png
  docs/mint.json
Labels: size:M, lgtm

#1129 Small improvements
  embedchain/app.py
  embedchain/chunkers/base_chunker.py
  embedchain/client.py
  embedchain/config/add_config.py
  embedchain/config/cache_config.py
  embedchain/config/llm/base.py
  embedchain/config/vectordb/qdrant.py
  embedchain/config/vectordb/zilliz.py
  embedchain/data_formatter/data_formatter.py
  embedchain/embedchain.py
  embedchain/embedder/base.py
  embedchain/embedder/google.py
  embedchain/helpers/json_serializable.py
  embedchain/llm/base.py
  embedchain/llm/google.py
  embedchain/llm/huggingface.py
  embedchain/llm/ollama.py
  embedchain/loaders/base_loader.py
  embedchain/loaders/directory_loader.py
  embedchain/loaders/docs_site_loader.py
  embedchain/loaders/github.py
  embedchain/loaders/image.py
  embedchain/loaders/json.py
  embedchain/loaders/mysql.py
  embedchain/loaders/postgres.py
  embedchain/loaders/slack.py
  embedchain/loaders/unstructured_file.py
  embedchain/loaders/web_page.py
  embedchain/memory/base.py
  embedchain/memory/message.py
  embedchain/memory/utils.py
  embedchain/store/assistants.py
  embedchain/telemetry/posthog.py
  embedchain/utils/misc.py
  embedchain/vectordb/base.py
  embedchain/vectordb/chroma.py
  embedchain/vectordb/elasticsearch.py
  embedchain/vectordb/opensearch.py
  embedchain/vectordb/weaviate.py
  embedchain/vectordb/zilliz.py
  tests/chunkers/test_text.py
Labels: size:L, lgtm

#1146 Update version to 0.1.57
  pyproject.toml
Labels: size:XS

#1149 [Feature] Add support for vllm as llm source
  configs/vllm.yaml
  docs/components/llms.mdx
  embedchain/app.py
  embedchain/config/llm/base.py
  embedchain/embedchain.py
  embedchain/llm/base.py
  embedchain/llm/vllm.py
  embedchain/vectordb/zilliz.py
  pyproject.toml
Labels: size:L

#1150 [Docs] Fix docs heading
  docs/components/llms.mdx
Labels: size:XS

#1131 #1128 | Remove deprecated type hints from typing module
  embedchain/app.py
  embedchain/bots/poe.py
  embedchain/cache.py
  embedchain/config/add_config.py
  embedchain/config/base_config.py
  embedchain/config/cache_config.py
  embedchain/config/llm/base.py
  embedchain/config/vectordb/elasticsearch.py
  embedchain/config/vectordb/opensearch.py
  embedchain/config/vectordb/pinecone.py
  embedchain/config/vectordb/qdrant.py
  embedchain/config/vectordb/weaviate.py
  embedchain/embedchain.py
  embedchain/embedder/base.py
  embedchain/helpers/callbacks.py
  embedchain/helpers/json_serializable.py
  embedchain/llm/base.py
  embedchain/llm/google.py
  embedchain/llm/gpt4all.py
  embedchain/llm/ollama.py
  embedchain/llm/openai.py
  embedchain/loaders/directory_loader.py
  embedchain/loaders/discourse.py
  embedchain/loaders/dropbox.py
  embedchain/loaders/github.py
  embedchain/loaders/gmail.py
  embedchain/loaders/json.py
  embedchain/loaders/mysql.py
  embedchain/loaders/notion.py
  embedchain/loaders/postgres.py
  embedchain/loaders/slack.py
  embedchain/memory/base.py
  embedchain/memory/message.py
  embedchain/memory/utils.py
  embedchain/vectordb/chroma.py
  embedchain/vectordb/elasticsearch.py
  embedchain/vectordb/opensearch.py
  embedchain/vectordb/pinecone.py
  embedchain/vectordb/qdrant.py
  embedchain/vectordb/weaviate.py
  embedchain/vectordb/zilliz.py
Labels: size:L, lgtm

#1148 README.md: Expand the acronym to help readers understand
  README.md
Labels: size:XS, lgtm

#1151 [Bug fix] Fix chromadb issue on embedchain version 0.1.58
  embedchain/embedder/base.py
  pyproject.toml
Labels: size:XS

#1139 Ruff: Add ASYNC checks
  embedchain/config/llm/base.py
  examples/rest-api/main.py
  poetry.lock
  pyproject.toml
Labels: size:S, lgtm

#1153 [Bug fix] Fix issue of loading other languages in config file
  embedchain/app.py
  pyproject.toml
Labels: size:XS

#1157 Improvements in eval setup
  docs/api-reference/pipeline/evaluate.mdx
  docs/mint.json
  embedchain/app.py
  embedchain/config/eval/base.py
  embedchain/eval/__init__.py
  embedchain/eval/base.py
  embedchain/eval/metrics/__init__.py
  embedchain/eval/metrics/answer_relevancy.py
  embedchain/eval/metrics/context_relevancy.py
Labels: size:L

#1158 [Docs] Update docs for dropbox loader
  docs/components/data-sources/dropbox.mdx
Labels: size:S

#1154 [Feature] add eval metrics
  docs/api-reference/pipeline/evaluate.mdx
  docs/components/evaluation.mdx
  docs/mint.json
  embedchain/app.py
  embedchain/config/eval/__init__.py
  embedchain/config/eval/base.py
  embedchain/embedchain.py
  embedchain/eval/__init__.py
  embedchain/eval/base.py
  embedchain/eval/metrics/__init__.py
  embedchain/eval/metrics/answer_relevancy.py
  embedchain/eval/metrics/context_relevancy.py
  embedchain/eval/metrics/groundedness.py
  embedchain/utils/eval.py
  embedchain/utils/misc.py
  embedchain/vectordb/zilliz.py
  poetry.lock
  pyproject.toml
Labels: size:XL, lgtm

#1159 Update version to 0.1.61
  pyproject.toml
Labels: size:XS

#1160 [Docs] Update docs for evaluation
  docs/components/evaluation.mdx
  embedchain/eval/metrics/groundedness.py
Labels: size:L

#1161 [Bugfix] fix chat history management when app.reset
  docs/api-reference/pipeline/delete.mdx
  embedchain/embedchain.py
  embedchain/memory/base.py
  pyproject.toml
  tests/memory/test_chat_memory.py
Labels: size:M, lgtm

#1162 [Improvement] update LLM memory get function
  embedchain/embedchain.py
  embedchain/memory/base.py
  pyproject.toml
  tests/memory/test_chat_memory.py
Labels: size:M, lgtm

#1163 [Bug fix] Fix embedding issue for opensearch and some other vector databases
  embedchain/chunkers/base_chunker.py
  embedchain/embedchain.py
  embedchain/vectordb/chroma.py
  embedchain/vectordb/elasticsearch.py
  embedchain/vectordb/opensearch.py
  embedchain/vectordb/pinecone.py
  embedchain/vectordb/qdrant.py
  embedchain/vectordb/weaviate.py
  embedchain/vectordb/zilliz.py
  tests/vectordb/test_elasticsearch_db.py
  tests/vectordb/test_pinecone.py
  tests/vectordb/test_qdrant.py
  tests/vectordb/test_weaviate.py
Labels: size:L

#1165 [Refactor] Change evaluation script path
  docs/api-reference/app/add.mdx
  docs/api-reference/app/chat.mdx
  docs/api-reference/app/delete.mdx
  docs/api-reference/app/deploy.mdx
  docs/api-reference/app/evaluate.mdx
  docs/api-reference/app/overview.mdx
  docs/api-reference/app/query.mdx
  docs/api-reference/app/reset.mdx
  docs/api-reference/app/search.mdx
  docs/components/evaluation.mdx
  embedchain/app.py
  embedchain/config/evaluation/__init__.py
  embedchain/config/evaluation/base.py
  embedchain/evaluation/__init__.py
  embedchain/evaluation/base.py
  embedchain/evaluation/metrics/__init__.py
  embedchain/evaluation/metrics/answer_relevancy.py
  embedchain/evaluation/metrics/context_relevancy.py
  embedchain/evaluation/metrics/groundedness.py
  embedchain/utils/evaluation.py
  pyproject.toml
Labels: size:M

#1168 [Bugfix] fix ec dev command for hf spaces
  embedchain/app.py
  embedchain/cli.py
  pyproject.toml
Labels: size:S

#1170 Update docs
  docs/components/data-sources/pdf-file.mdx
  docs/components/data-sources/youtube-channel.mdx
  docs/components/data-sources/youtube-video.mdx
  docs/mint.json
Labels: size:M

#1174 [Tests] add tests for evaluation metrics
  embedchain/evaluation/metrics/groundedness.py
  tests/evaluation/test_answer_relevancy_metric.py
  tests/evaluation/test_context_relevancy_metric.py
  tests/evaluation/test_groundedness_metric.py
Labels: size:L

#1177 Fix #1176 (a bug in the chromadb provider definition example)
  notebooks/chromadb.ipynb
Labels: size:S

#1191 [Bugfix] fix import youtube allowed netlocks by defining them locally
  embedchain/utils/misc.py
Labels: size:S

#1192 [Improvement] add vector_dimension configuration in embedder config
  docs/api-reference/advanced/configuration.mdx
  docs/components/llms.mdx
  embedchain/config/embedder/base.py
  embedchain/embedder/google.py
  embedchain/embedder/gpt4all.py
  embedchain/embedder/huggingface.py
  embedchain/embedder/openai.py
  embedchain/embedder/vertexai.py
  embedchain/utils/misc.py
Labels: size:S

#1190 Update Askabraham showcase
  docs/examples/showcase.mdx
Labels: size:XS, lgtm

#1195 [Bugfix] fix google ai embedding function
  embedchain/embedder/google.py
Labels: size:S

#1196 [Update] add test for passing vector dimension in embedder config
  pyproject.toml
  tests/test_factory.py
Labels: size:XS

#1194 [Feature] Add support for Mistral API
  docs/components/llms.mdx
  embedchain/embedder/mistralai.py
  embedchain/factory.py
  embedchain/llm/mistralai.py
  embedchain/models/vector_dimensions.py
  embedchain/utils/misc.py
  poetry.lock
  pyproject.toml
  tests/llm/test_mistralai.py
Labels: size:L, lgtm

#1198 Bump version to 0.1.67
  pyproject.toml
Labels: size:XS

#1189 [Feature] Add support for AWS Bedrock LLM
  docs/api-reference/advanced/configuration.mdx
  docs/components/llms.mdx
  embedchain/factory.py
  embedchain/llm/aws_bedrock.py
  embedchain/utils/misc.py
  poetry.lock
  pyproject.toml
  tests/llm/test_aws_bedrock.py
Labels: size:L, lgtm

#1205 [Docs] fix slack join link
  docs/_snippets/get-help.mdx
  docs/_snippets/missing-data-source-tip.mdx
  docs/_snippets/missing-llm-tip.mdx
  docs/_snippets/missing-vector-db-tip.mdx
  docs/community/connect-with-us.mdx
  docs/mint.json
Labels: size:S

#1206 Bump version to 0.1.68
  pyproject.toml
Labels: size:XS

#1183 [bugfix] fix elasticsearch db
  embedchain/vectordb/elasticsearch.py
Labels: size:M, lgtm

#1184 [Bugfix] fix opensearch db
  embedchain/vectordb/opensearch.py
Labels: size:S, lgtm

#1185 [Bugfix] fix pinecone db
  embedchain/vectordb/pinecone.py
Labels: size:M, lgtm

#1186 [Bugfix] update zilliz db
  embedchain/vectordb/zilliz.py
  tests/vectordb/test_zilliz_db.py
Labels: size:M, lgtm

#1181 [Bugfix] fix qdrant and weaviate db integration
  embedchain/vectordb/qdrant.py
  embedchain/vectordb/weaviate.py
  tests/vectordb/test_qdrant.py
Labels: size:L, lgtm

#1187 [Feature] add `app.delete()` method
  docs/api-reference/app/delete.mdx
  embedchain/embedchain.py
  embedchain/vectordb/base.py
Labels: size:M, lgtm

#1172 enable using custom Pinecone index name
  docs/components/vector-databases.mdx
  embedchain/config/vectordb/pinecone.py
  embedchain/vectordb/pinecone.py
  tests/vectordb/test_pinecone.py
Labels: size:M, lgtm

#1209 [Docs] add docs for getting the list of added data sources
  docs/api-reference/app/get.mdx
  docs/mint.json
Labels: size:M

#1212 Bump version to 0.1.69
  pyproject.toml
Labels: size:XS

#1215 [Docs] Update mistral model in quickstart example
  docs/get-started/quickstart.mdx
Labels: size:XS, lgtm

#1216 add support for openai embedding models - text-em-3
  docs/components/embedding-models.mdx
Labels: size:S

#1200 [Improvement] update pinecone client v3
  docs/components/vector-databases.mdx
  embedchain/config/vectordb/pinecone.py
  embedchain/vectordb/pinecone.py
  poetry.lock
  pyproject.toml
  tests/vectordb/test_pinecone.py
Labels: size:L, lgtm

#1218 [Bugfix] fix typo in opensearch db
  embedchain/vectordb/opensearch.py
Labels: size:XS

#1219 [Improvement] add default user-agent header in webpage loader
  embedchain/loaders/web_page.py
Labels: size:XS

#1221 bump version to 0.1.70
  pyproject.toml
Labels: size:XS

#1222 feat: add UA header for pdf and sitemap
  embedchain/loaders/pdf_file.py
  embedchain/loaders/sitemap.py
Labels: size:S

#1223 Bump version to 0.1.71
  pyproject.toml
Labels: size:XS

#1228 [Bug fix] Fix issue with gmail loader
  docs/api-reference/app/chat.mdx
  docs/components/data-sources/custom.mdx
  embedchain/chunkers/base_chunker.py
  pyproject.toml
Labels: size:M

#1230 Docs: Update full stack docs
  docs/get-started/full-stack.mdx
  docs/images/fullstack-api-server.png
Labels: size:S
