Repository mem0ai/mem0, pull requests merged in 2024-03, with the labels that each got.

#1293 [Feature] Add support for NVIDIA AI LLMs and embedding models
  docs/components/embedding-models.mdx
  docs/components/llms.mdx
  docs/customizations/chunking.mdx
  docs/customizations/data-loader.mdx
  docs/customizations/embedding-models.mdx
  docs/customizations/llms.mdx
  docs/customizations/retrieval.mdx
  docs/customizations/vector-databases.mdx
  embedchain/app.py
  embedchain/config/base_app_config.py
  embedchain/embedder/nvidia.py
  embedchain/factory.py
  embedchain/llm/nvidia.py
  embedchain/models/vector_dimensions.py
  embedchain/store/assistants.py
  embedchain/telemetry/posthog.py
  embedchain/utils/misc.py
  pyproject.toml
Labels: size:L

#1295 [Bug fix] Fix issue related to get_data_sources() method
  embedchain/app.py
  pyproject.toml
Labels: size:S

#1296 [Docs] Update pinecone integration docs
  docs/components/vector-databases/pinecone.mdx
Labels: size:XS

#1300 [Improvement] Set a default app id if not provided in the app configuration
  docs/get-started/quickstart.mdx
  embedchain/app.py
  pyproject.toml
  tests/vectordb/test_qdrant.py
Labels: size:M

#1301 Feature: Custom Ollama endpoint base_url
  configs/ollama.yaml
  embedchain/config/llm/base.py
  embedchain/llm/ollama.py
  embedchain/utils/misc.py
Labels: size:XS, lgtm

#1197 #1155: Add support for OpenAI-compatible endpoint in LLM and Embed
  embedchain/config/embedder/base.py
  embedchain/config/llm/base.py
  embedchain/embedder/openai.py
  embedchain/llm/openai.py
  embedchain/utils/misc.py
Labels: size:S, lgtm

#1303 [Bug Fix]: Fix test cases and update version to 0.1.93
  embedchain/config/llm/base.py
  pyproject.toml
  tests/evaluation/test_answer_relevancy_metric.py
  tests/llm/test_openai.py
  tests/test_app.py
  tests/test_factory.py
Labels: size:XS

#1305 [Bug fix]: Fix issue of OPENAI_API_BASE env variable being mandatory
  README.md
  embedchain/embedder/openai.py
  pyproject.toml
Labels: size:S

#1306 [docs] update langsmith.mdx
  docs/integration/langsmith.mdx
Labels: size:XS, lgtm
